---
sudo: false
addons:
  apt:
    packages: []
  coverity_scan:
    project:
      description: Build submitted via Travis CI
      name: maxmind/MaxMind-DB-Reader-php
    notification_email: dev-ci@maxmind.com
    build_command: ./.travis-build.sh
    branch_pattern: .*coverity.*
language: php
dist: trusty
php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'
  - hhvm
env:
  global:
    - secure: RMIBN2tNKlrGA07coRW4B9m9jCobrYxDkEq3T3jGoGtXgQe/Mr3bI/4zQo7U3bvVTSF90lzkWbxATY45GQXRxWC7Ed2HI2jwUF96CXecdRhKiE9x051HsvXakvbODPLocV7/2LOZqz+eXCUeazLgRaSrIhAqMddFqMQSSM5STlc=
before_install:
  - ./.travis-install-prereqs.sh
install:
  - ./.travis-build.sh
  - phpenv rehash
script:
  - ./.travis-test.sh
after_script:
  - php vendor/bin/coveralls
notifications:
  email:
    on_failure: always
    on_success: change
    recipients:
      - dev-ci@maxmind.com
  slack:
    rooms:
      secure: "J8nDFLo1+6wWPyYcO2fdUF5w8soZa5mcTYhoa8HA+GUfVGFe7L63ruHBjbEhySG4tQBXJ7oh8ETIyS6hKLNLXdBOSYAQyrZa54HrTxTR1FXPoBiNqPi5DlUIxmJiGxWNp3Yh+0UXFg3otkKtDAjXg1JCoW+XNBsoMw6NqUmkH5Q=\n"
